@inherits RazorComponentRendererTestContext

@code {
    [Theory]
    [InlineData("<a><bab><c2c></c2c></bab></a>")]
    [InlineData("<a></a><b2></b2>")]
    public void HtmlInlineRendersCorrectly(string html)
    {
        var document = Markdown.Parse(html);
        var rendered = Render(document.ToRenderFragment());
        rendered.MarkupMatches(
            @<p>
                @(new MarkupString(html))
            </p>
        );
    }
}
